html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.colorPrimary {
  color: #E63E91;
}

.backgroundPrimary {
  background: #E63E91;
}

.backgroundLight {
  background: #F3F3F3;
}

.hidden {
  display: none;
}
